
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AliReturn</title>
</head>
<body>
<h1>@ViewBag.TradeResult<br/><a href="/Home">跳转回主页面</a></h1>
</body>
</html>

