.icon-num1 {
    background: url('icons/num1.png') no-repeat center center;
}

.icon-num2 {
    background: url('icons/num2.png') no-repeat center center;
}

.icon-num3 {
    background: url('icons/num3.png') no-repeat center center;
}

.icon-num4 {
    background: url('icons/num4.png') no-repeat center center;
}

.icon-num5 {
    background: url('icons/num5.png') no-repeat center center;
}

.icon-num6 {
    background: url('icons/num6.png') no-repeat center center;
}

.icon-num7 {
    background: url('icons/num7.png') no-repeat center center;
}

.icon-num8 {
    background: url('icons/num8.png') no-repeat center center;
}


.icon-large-index {
    background: url('icons/pencil32.png') no-repeat center center;
}

.icon-large-yggl {
    background: url('icons/yuangong.png') no-repeat center center;
}

.icon-large-tdgl {
    background: url('icons/tongdao.png') no-repeat center center;
}

.icon-large-khgl {
    background: url('icons/kehu.png') no-repeat center center;
}

.icon-large-dxsh {
    background: url('icons/paper_content_pencil.png') no-repeat center center;
}

.icon-large-dsfs {
    background: url('icons/clock.png') no-repeat center center;
}

.icon-large-fstj {
    background: url('icons/tongji.png') no-repeat center center;
}

.icon-large-xfmx {
    background: url('icons/caiwu.png') no-repeat center center;
}

.icon-large-xgmm {
    background: url('icons/password.png') no-repeat center center;
}

.icon-large-wjrw {
    background: url('icons/wenjian.png') no-repeat center center;
}