@{
    ViewBag.Title = "计费明细";
}
@*表格显示*@
<table id="dg" style="font-size: 20px; background:white;" data-options="fit:true, toolbar:'#tool'"></table>
@*搜索框*@
<div id="tool" name="tool" style="background-color:#f4f4f4;display:none;">
    <form id="formMain" class="easyui-form">
        <div style="margin-bottom: 3px">
            开始时间: <input class="easyui-datetimebox" id="startTime" name="startTime" data-options="editable:false" style="width: 150px">
            客户编号:<input class="easyui-textbox" id="userid" style="width: 230px;">
        </div>
        <div>
            结束时间: <input class="easyui-datetimebox" id="endTime" name="endTime" data-options="editable:false" style="width: 150px">
            AppKey:<input class="easyui-textbox" id="AppKey" style="width: 230px;">
            <a href="#" class="easyui-linkbutton" style="width: 70px;" onclick="select()" data-options="iconCls:'icon-search'">@Html.Caption(PageResource.ButtonSearch)</a>
            <a href="#" class="easyui-linkbutton" style="width: 70px;" onclick="reset()" data-options="iconCls:'icon-reload'">@Html.Caption(PageResource.ButtonReset)</a>
        </div>
    </form>
</div>
@*新增/修改界面*@
<div id="dlg" style="display:none;padding: 0;">
    <iframe></iframe>
</div>

@section FootScript{
    <script>
        var _operater; //操作
        var _operaterText; //操作描述
        var _describe = "计费明细"; //描述
        var __dgcreator;
        var _url = "/BillingDetails";//路径
        var _tableName = "dg";//表格名
        var _toolName = "tool";//搜索框名

        $(function () {
            __dgcreator = new dgcreator(
                "#" + _tableName,
                _url,
                "",
                "details",
                {
                    onLoadSuccess: function () {

                    },
                    rowStyler: function (index, row) {
                        //每行的高度
                        return 'height:24px;';
                    }
                },
                null,
                null
            );
            __dgcreator.beforeCreate = function (cols) {
            };
            __dgcreator.create();
        });

        //菜单栏查询数据
        function select() {
            var js = {
                "userid": $("#userid").val(),
                "AppKey": $("#AppKey").val(),
                "startTime": $("#startTime").datebox('getValue'),
                "endTime": $("#endTime").datebox('getValue')
            };
            __dgcreator.setdata(js);
        }

        //菜单栏重置按钮
        function reset() {
            $("#formMain").form("reset");
            __dgcreator.setdata({});
        }
        //得到当前日期
        formatterDate = function (date) {
            var day = date.getDate() > 9 ? date.getDate() : "0" + date.getDate();
            var month = (date.getMonth() + 1) > 9 ? (date.getMonth() + 1) : "0"
                + (date.getMonth() + 1);
            return date.getFullYear() + '-' + month + '-' + day;
        };
        window.onload = function () {
            $('#startTime').datebox('setValue', formatterDate(new Date()));
        }
    </script>
}






